* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}
body{
    max-width: 100vw;
    min-height: 100vh;
    background-color: #fafafa;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: center;
}
h1{
    text-align: center;
    background-color: green;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 0 30px 2px #242424 inset, 0 0 20px 2px #004c00;

}
#notes, #archivedNotes{
    padding: 0 10px;
}
#notes > *:nth-child(even),
#archivedNotes > *:nth-child(even),
#notesCount > *:nth-child(even){
    background-color: #c8c8c8;
}
#notes form{
    display:flex;
}
.note{
    display:  flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: 6vh;
    margin: 15px 0;
    background-color: #f1f1f1;
    box-shadow: 0 0 5px 1px #454444;
}
.delete_btn{
    position: relative;
    height: 25px;
    width: 25px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 500ms ease;
}
.delete_btn:hover{
    transform: rotate(90deg) scale(1.2);
}
    .delete_btn::before,
    .delete_btn::after{
        position: absolute;
        background-color: #b50000;
        top: 43%;
        transform: translateY(-50%);
        content: '';
        width: 20px;
        height: 2px;
    }
    .delete_btn::before{
        transform: rotate(45deg);
    }
    .delete_btn::after{
        transform: rotate(-45deg);
    }
    .note span{
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: calc(100vw / 6);
        text-align: center;
        line-height: 6vh;
        font-size: 18px;
        overflow: hidden;
        padding: 0 5px;
        white-space:nowrap;
        text-overflow:ellipsis;

    }
    .note > span > .span_buttons{
        width: calc(100% / 3);
    }
    .editButton{
        border-radius: 1vh;
        margin: 5px 5px;
        cursor: pointer;
        box-shadow: 0 0 0 0 black inset;
        transition: all 500ms ease;
    }
    .editButton:hover{
        background-color: #414141;
        color: white;
    }
    .note:first-child{
        height: 5vh;
        background-color: #f1f1f1;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 0 0 5px 1px #454444;
    }
    .note span:last-child{
        display: flex;
        justify-items: flex-start;
        align-items: center;
    }
.archiveButton{
    position: relative;
    max-width: 25px;
    min-width: 25px;
    max-height: 25px;
    min-height: 25px;
    cursor: pointer;
}
.archiveButton::before,
.archiveButton::after{
    position: absolute;
    top: 43%;
    transform: translateY(-10%);
    content: '';
    width: 15px;
    height: 2px;
    background-color: black;
    cursor: pointer;
    transition: all 500ms ease;
}
.archiveButton::before{
    transform: rotate(-50deg);
    left: 2%;
}
.archiveButton::after{
    transform: rotate(50deg);
    left: 40%;
}
.archiveButton:hover::before{
    transform: scale(1.2) rotate(-410deg);
    left: 40%;
    background-color: green;
}
.archiveButton:hover::after {
    transform: scale(1.2) rotate(410deg);
    left: 1%;
    background-color: green;
}
#createNote{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
form{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 15px;
    width: 100%;
}
form *{
    font-size: 17px;
    display: flex;
    flex-flow: row;
    align-items: center;
}
form  button{
    padding: 5px 10px;
}
form  input{
    padding: 5px;
}
#notesCount{
    padding: 10px;
}
#editForm{
    display: none;
    width: 100%;
    align-items: center;
    margin: 0;
}
    